body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007ACC;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

footer {
    background-color: #eee;
    text-align: center;
    padding: 10px;
}